<div *ngIf="entry">
    <h2>Edit entry for: {{entry.name}}</h2>
    <div>
        <label>id: </label>{{entry.id}}
    </div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="entry.name" placeholder="word" />
    </div>
    <div>
        <label>word: </label>
        <input [(ngModel)]="entry.word" placeholder="word" />
    </div>
    <div>
        <label>translation: </label>
        <input [(ngModel)]="entry.translation" placeholder="translation" />
    </div>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>
